<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div id="root" class="nicegui-layout"></div>
  
    <script>

        // const required = 'value'

        // function myFunction(element){
        //     const elements = document.getElementById('myinput');
        //     const args = elements[`${required}`];
        //     console.log(args)
        // }
        // Chart creation and data manipulation
        function createDynamicChart(jsonData, chartOptions, chartType, elementId, context) {
            var ctx = document.getElementById(elementId).getContext(context);
            var myChart = new Chart(ctx, {
                type: chartType,
                data: jsonData,
                options: chartOptions
            });

            var addData = function(label, data) {
                myChart.data.labels.push(label);
                myChart.data.datasets[0].data.push(data);
                myChart.update();
            };

            setTimeout(function() {
                addData("Jun", 35);
            }, 2000);
        }

        // Creating HTML elements from JSON
        function createHTMLFromJSON(json) {
            const element = document.createElement(Object.keys(json)[0]);

            const attributes = json[Object.keys(json)[0]].attributes;
            if (attributes) {
                for (const key in attributes) {
                    element.setAttribute(key, attributes[key]);
                }
            }

            const content = json[Object.keys(json)[0]].content;
            if (Array.isArray(content)) {
                content.forEach(item => {
                    const childElement = createHTMLFromJSON(item);
                    element.appendChild(childElement);
                });
            } else if (typeof content === 'string') {
                element.textContent = content;
            }

            if (element.tagName === 'CANVAS' || element.tagName === 'INPUT' || element.tagName === 'TEXTAREA') {
                console.log('Element initialized:', element);
                // Perform additional actions or create dynamic charts here if needed
            }

            // Handle events
            if (json[Object.keys(json)[0]].events) {
                json[Object.keys(json)[0]].events.forEach(event => {
                    let eventName = 'on' + event.type[0].toUpperCase() + event.type.substring(1);
                    let handler = (e) => {
                        const all = (typeof e !== 'object' || e === null) || !event.args;
                        const args = all ? e : Object.fromEntries(event.args.map(a => [a, e[a]]));
                        if (element.props && element.props["loopback"] === false && event.type === "update:model-value") {
                            element.props["model-value"] = args;
                        }
                    };
                    element.addEventListener(event.type, handler);
                });
            }

            return element;
        }

        const jsonelement = {{ elements | safe }};
        const app = document.getElementById('root');
        const htmlElement = createHTMLFromJSON(jsonelement);
        app.appendChild(htmlElement);
    </script>
</body>
</html>
