<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>

    <div id="popup">
      <span>Connection lost.</span>
      <span>Trying to reconnect...</span>
    </div>
  
    <script>
        function logEvent(eventType, event) {
            var message = { event_: {} };
            
            switch (eventType) {
                // Mouse Events
                case 'click':
                case 'contextmenu':
                case 'dblclick':
                case 'drag':
                case 'dragend':
                case 'dragenter':
                case 'dragexit':
                case 'dragleave':
                case 'dragover':
                case 'dragstart':
                case 'drop':
                case 'mousedown':
                case 'mouseenter':
                case 'mouseleave':
                case 'mousemove':
                case 'mouseout':
                case 'mouseover':
                case 'mouseup':
                message.event_.target = event.target;
                message.event_.clientX = event.clientX;
                message.event_.clientY = event.clientY;
                message.event_.pageX = event.pageX;
                message.event_.pageY = event.pageY;
                message.event_.button = event.button;
                break;

                // Keyboard Events
                case 'keydown':
                case 'keypress':
                case 'keyup':
                message.event_.key = event.key;
                message.event_.keyCode = event.keyCode;
                break;

                // Form Events
                case 'change':
                case 'input':
                case 'submit':
                message.event_.target = event.target;
                message.event_.value = event.target.value;
                break;

                // Touch Events
                case 'touchcancel':
                case 'touchend':
                case 'touchmove':
                case 'touchstart':
                message.event_.touches = event.touches;
                message.event_.changedTouches = event.changedTouches;
                break;

                // Focus Events
                case 'focus':
                case 'blur':
                message.event_.target = event.target;
                break;

                // Other Events
                case 'scroll':
                case 'load':
                case 'error':
                // No additional properties needed for these events
                break;
                default:
                console.log('Unrecognized event type: ' + eventType);
                return;
            }
            
            console.log('Event type: ' + eventType);
            console.log('Event data:', message.event_);
        }
        function createHTMLElementFromJSON(jsonElement) {
            const element = document.createElement(jsonElement.tag);

            // Setze Eigenschaften
            if (jsonElement.properties) {
                for (const property in jsonElement.properties) {
                element[property] = jsonElement.properties[property];
                }
            }

            // Setze Attribute
            if (jsonElement.attributes) {
                for (const attribute in jsonElement.attributes) {
                element.setAttribute(attribute, jsonElement.attributes[attribute]);
                }
            }

            // Füge Event Listener hinzu
            if (jsonElement.eventListeners) {
                const eventType = jsonElement.eventListeners.eventType;
                const eventArgs = jsonElement.eventListeners.eventArgs;
                const elementId = jsonElement.eventListeners.elementId;
                const callbackUuid = jsonElement.eventListeners.callbackUuid;
                const sendToServer = jsonElement.eventListeners.sendToServer;

                if (eventType && eventArgs) {
                element.addEventListener(eventType, function(event) {
                    if (sendToServer && callbackUuid) {
                        console.log("Der callback_uuid lautet: ", callbackUuid);
                    // Hier kannst du den Code hinzufügen, um die Daten an den Server zu senden
                    }
                    eval(eventArgs);
                    //logEvent(eventType, event);
                });
                }
            }

            // Setze Inhalt
            if (jsonElement.content) {
                if (typeof jsonElement.content === 'string') {
                element.innerText = jsonElement.content;
                } else {
                const contentElement = createHTMLElementFromJSON(jsonElement.content);
                element.appendChild(contentElement);
                }
            }

            return element; // Gebe das erstellte Element zurück
        }

        

        const jsonElement = {
    "tag": "div",
    "properties": {
        "id": "content",
        "class": "content-class",
        "style": "background-color: blue; color: white;"
    },
    "attributes": {
        "data-action": "submit"
    },
    "eventListeners": {
        "eventType": "copy",
        "eventArgs": "console.log(event)",
        "elementId": "myButton",
        "callbackUuid": "iafsifoeipjeofw",
        "sendToServer": true
    },
    "content": {
        "tag": "button",
        "properties": {
            "id": "myButton",
            "class": "btn",
            "style": "background-color: blue; color: white;"
        },
        "attributes": {
            "data-action": "submit"
        },
        "eventListeners": {
            "eventType": "click",
            "eventArgs": "console.log(event)",
            "elementId": "myButton",
            "callbackUuid": "iafsifoeipjeofw",
            "sendToServer": true
        },
        "content": "Click me!"
    }
}

        const app = document.getElementById('app');
        const myElement = createHTMLElementFromJSON(jsonElement);
        app.appendChild(myElement);

    </script>
</body>
</html>





